<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
</head>
<body>
	<h1>Welcome Home!</h1>

	<a href="/employerHome/addJob">Add Job</a> | <a href="/employerHome/jobList">Job List</a> | <a href="/employerHome/myPostedJob">My Posted Job</a> | <a href="/logout">Logout</a>

</body>
</html>