<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
</head>
<body>
	<h1>Welcome Home!</h1>

	<a href="/adminHome/addEmployer">Add Employer</a> | <a href="/adminHome/employerList">Employer List</a> | <a href="/logout">Logout</a>

</body>
</html>